<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <title>支出入力</title>
</head>
<body>
<div class="container mt-5">
    <a href="javascript:history.back()" class="btn btn-light mb-3">
        <i class="bi bi-arrow-left"></i>戻る
    </a>
    <h1 class="text-center">支出入力</h1>
    <form action="/add" method="POST" id="expense-form" style="justify-items: center;">
        <div class="mb-3" style="width: 100%; max-width: 600px;">
            <label for="date" class="form-label">日付</label>
            <input type="date" id="date" name="date" class="form-control w-50" value="{{ today }}">
        </div>
        <div id="expenses" style="width: 100%; max-width: 600px;">
            <label for="purpose" class="form-label">支出内容詳細</label>
            <div class="row g-3 mb-2 align-items-center">
                <div class="col-8">
                    <input type="text" name="purpose" class="form-control" placeholder="用途">
                </div>
                <div class="col-3">
                    <input type="number" name="amount" class="form-control" placeholder="金額">
                </div>
            </div>
        </div>
        <div>
            <button type="button" class=" btn btn-outline-secondary mb-3 " onclick="addRow()">＋</button>
        </div>
        <button type="submit" class="btn btn-primary">記録</button>        
    </form>
</div>
<script>
function addRow() {
    const row = `<div class="row g-3 mb-2 align-items-center">
                    <div class="col-8">
                        <input type="text" name="purpose" class="form-control" placeholder="用途">
                    </div>
                    <div class="col-3">
                        <input type="number" name="amount" class="form-control" placeholder="金額">
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-danger" onclick="removeRow(this)">－</button>
                    </div>
                 </div>`;
    document.getElementById('expenses').insertAdjacentHTML('beforeend', row);
}

function removeRow(button) {
    button.closest('.row').remove();
}

</script>
</body>
</html>
