<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <title>支出管理</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">支出管理</h1>
    <div class="text-center my-4">
        <button class="btn btn-secondary" {% if not can_view_previous %}disabled{% endif %} onclick="location.href='/?year={{ year - (1 if month == 1 else 0) }}&month={{ 12 if month == 1 else month - 1 }}'">&lt;</button>
        <span>{{ year }}年{{ month }}月の出費：{{ total }}円</span>
        <button class="btn btn-secondary" {% if not can_view_next %}disabled{% endif %} onclick="location.href='/?year={{ year + (1 if month == 12 else 0) }}&month={{ 1 if month == 12 else month + 1 }}'">&gt;</button>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" onclick="location.href='/add'">支出入力する</button>
    </div>
</div>
</body>
</html>
